@import url("https://fonts.googleapis.com/css?family=Montserrat");

.margin {
    margin: 15px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    height: 100%;
    width: 100%;
}

.button-holder {
    display: flex;
    justify-content: center;
    width: 100%;
}

.blue-buttons {
    background-color: darkblue;
    color: white;
    padding: 5px;
    margin: 15px;
}

.blue-buttons:disabled {
    background-color: grey;
    color: black;
}

footer {
    margin-top: 25px;
}